  <div class="outerFix">
    
    <div class="footer">
    <div class="footerHalf">
      <h2>Zaki Ahmed</h2>
      <div class="bodyText">
        zaki@zakiahmed.org
      </div>
      <div class="bodyText">
        (832) 483-2131
      </div>
      <div class="footerResumeContainer bodyText">
        <a href="https://www.linkedin.com/in/zakiahmed14" target=”_blank” >linkedin</a> •
        <a href="./resume.html" >resume</a>
      </div>
      <div class="bodyText">
        HTML/CSS/JavaScript developed by Me
      </div>

    </div>
    <div class="footerHalf">
      <h2>Projects</h2>
      <a href="./optym.html" class="bodyText">
        Trucking System Gantt
      </a>
      <a href="./orgBuilder.html" class="bodyText">
        Business Org Builder
      </a>
       <a href="./chatRAG.html" class="bodyText">
        Financial Gen AI Chat RAG Tool
      </a>
       <a href="./beverage.html" class="bodyText">
        Beverage Helper App
      </a>
    </div>
  </div>
  </div>